{{ $root := site.BaseURL }}
{{ if site.IsServer }}
{{ $root = "/" }}
{{ end }}
<!--
  BaseURL: {{ site.BaseURL }}
  IsServer: {{ site.IsServer }}
  root: {{ $root }}
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ $root }}css/messynotes.css">
  <link rel="stylesheet" type="text/css" href="{{ $root }}css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ $root }}css/site.css">
  {{ if .Page.Store.Get "hasAbc" }}
  <link rel="stylesheet" type="text/css" href="{{ $root }}css/abcjs-audio.css">
  {{ end }}
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
