<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/messynotes.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    {{ if .Params.music }}
    <link rel="stylesheet" type="text/css" href="/css/abcjs-audio.css">
    <script type="text/javascript" src="/js/abcjs-basic-min.js"></script>
    {{ end }}
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
