{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
{{ $classes := "item" }}
{{ if .Params.private }}
{{ $classes = print $classes " private" }}
{{ end }}

<div class="item">
  <div><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
  {{ if not (eq $dateTime "0001-01-01") }}
  <time class="pubtime" datetime="{{ $dateTime }}">
    {{ .PublishDate.Format $dateFormat }}
  </time>
  {{ end }}
  <ul class="tags">
  {{ with .Params.tags }}
  {{ range . }}
  {{ $href := print (absURL "tags/") (urlize .) }}
  <li class="tag"><a href="{{ $href }}">{{ . }}</a></li>
  {{ end }}
  {{ end }}
  </ul>

  <p>{{ .Summary }}</p>
</div>
