{{ define "main" }}
{{ $privateCats := .Site.Params.privateCategories }}
<div class="maincontainer">
  <h1 class="title">{{ .Site.Title }}</h1>

  <div class="todo">
    <h2 class="boxtitle">TODO</h2>
    {{ $mysection := site.GetPage "/categories/todo" }}
    {{ range $mysection.Pages }}
    <div>
      {{ partial "listitem.html" . }}
    </div>
    {{ end }}
  </div>

  <div class="box">
    <h2 class="boxtitle">Categories</h2>
    <div class="item">
      {{ $mysection := site.GetPage "/categories/" }}
      <div>
        {{ range (sort $mysection.Pages "Title") }}
          {{ if eq .Title "todo" }}
            {{continue}}
          {{end}}
        <div>
        {{ $classes := "title" }}
        {{ if in .Site.Params.privateCategories .Title }}
          {{ $classes = print $classes " private" }}
        {{ end }}
        <a class="{{ $classes }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ $innerpath := path.Join "/categories" .Title }}
        {{ $innersection := site.GetPage $innerpath }}
        <ul class="cats">
          {{ range $innersection.Pages }}
            {{ if and (eq .Params.private "true" true) (lt (strings.Count $classes "private") 1)}}
              {{ $classes = print $classes " private" }}
            {{ end }}
            <li class="{{ $classes }}">{{ .Date.Format "2006-01-02" }} <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="box">
    <h2 class="boxtitle">Tags</h2>
    <div class="item">
      {{ $mysection := site.GetPage "/tags/" }}
      <div class="indexTagContainer">
        {{ range (sort $mysection.Pages "Title") }}
        <div class="tagItem small">
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="controls">
    <div class="control" id="privateControl">
      <p class="controlLabel">Show Private</p>
      <label class="switch">
        <input type="checkbox" id="privateSlider">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
{{ end }}
