{{ define "main" }}
<div class="maincontainer">
  <h1 class="title">{{ .Site.Title }}</h1>

  <div class="box">
    <h2 class="boxtitle">Notes</h2>
    {{ $mysection := site.GetPage "/notes/" }}
    {{ range $mysection.Pages }}
      {{ partial "listitem.html" . }}
    {{ end }}
  </div>

  <div class="box">
    <h2 class="boxtitle">Tags</h2>
    {{ $mysection := site.GetPage "/tags/" }}
    <div class="indexTagContainer">
      {{ range $mysection.Pages }}
      <div class="tagItem small">
      <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
