{{ define "main" }}
<div class="maincontainer">
  <h1 class="title">{{ .Site.Title }}</h1>

  <div class="box">
    <h2 class="boxtitle">Notes</h2>
    {{ $mysection := site.GetPage "/notes/" }}
    {{ range $mysection.Pages }}
      {{ partial "listitem.html" . }}
    {{ end }}
  </div>

  <div class="box">
    <h2 class="boxtitle">Tags</h2>
    <div class="item">
      {{ $mysection := site.GetPage "/tags/" }}
      <div class="indexTagContainer">
        {{ range (sort $mysection.Pages "Title") }}
        <div class="tagItem small">
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
      </div>
    </div>
    <h2 class="boxtitle">Categories</h2>
    <div class="item">
      {{ $mysection := site.GetPage "/categories/" }}
      <div class="">
        {{ range $mysection.Pages }}
        <div class="small">
        <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ $innerpath := path.Join "/categories" .Title }}
        {{ $innersection := site.GetPage $innerpath }}
        <ul class="cats">
          {{ range $innersection.Pages }}
          <li>{{ .Date.Format "2006-01-02" }} <a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
